server {
    listen $NGINX_LISTEN_PORT;

    location / {
        proxy_pass $NGINX_PROXY_ADDRESS;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_read_timeout $NGINX_PROXY_READ_TIMEOUT;
        send_timeout $NGINX_PROXY_READ_TIMEOUT;
    }
}